nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  background-color: #97a568;
}
nav ul li a {
  display: flex;
  justify-content: center;
  background-color: #97a568;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
nav ul li a {
  color: white;
}
nav ul li a:hover {
  background-color: #5b6e0c;
  color: white;
}
