.banner{
    display: flex;
    justify-content: center;
    background-color: #3aadf4;
    align-items: center;
    flex-direction: column;
}
.banner h1{
    margin: 0;
}
.banner h2{
    margin: 0.5rem;
}