.banner {
  display: flex;
  justify-content: center;
  background-color: #5b6e0c;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.banner h1 {
  margin: 0;
  color: white;
}
.banner h2 {
  margin: 0.5rem;
}
